body{
    background-image: url('https://images.unsplash.com/photo-1557821552-17105176677c?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fHNob3BwaW5nfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80');
    background-size: cover;
    background-repeat: no-repeat;
   
   
}

.grocery{
    font-family: Georgia, 'Times New Roman', Times, serif;
   font-weight: bolder;
}

.itemList{
    
  background-color: #0000006e;
  list-style: none;
}
.App{
  position: fixed;
  height:100%;
  width: 100%;

}
.Home{
  position: fixed;
align-self: center;
}
.update{
  width: 50%;
     height: 50%; 
    background: rgba(29, 27, 27, 0.8);
    position: absolute;
    transform: translate(40%, 50%);
   
}

.close{
  position: absolute;
  top: 0;
  right: 0px;
  cursor: pointer;
  text-decoration: none;
}